<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <!-- Request Payload Filter Configuration -->
    <filter>
        <filter-name>requestPayloadFilter</filter-name>
        <filter-class>com.serveranalyzer.filters.RequestPayloadFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>requestPayloadFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- Other configurations... -->

</web-app> 